<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Sudanese Certificate</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                
                <div class="form-group">
                    <label>Student Number</label>
                    <input class="form-control input-lg" type="text" placeholder="Enter Student#...">
                </div>
                
                <div class="form-group">
                    <label>Re-Student Number</label>
                    <input class="form-control input-lg" type="text" placeholder="Enter Student#...">
                </div>

                <div class="form-group">
                    <label>Course ID</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Academic</option>
                        <option>Agricultural</option>
                        <option>Commercial</option>
                        <option>Industerial</option>
                        <option>Womanly</option>
                        <option>Ahlia</option>
                        <option>Reading</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Select Form Type</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">General Admission-1st Round</option>
                        <option>Special Admission</option>
                        <option>Sons of Higher Education Staff</option>
                        <option>General Admission-2nd Round</option>
                        <option>Special Admission - Vacancies</option>
                        <option>Private Institute Direct</option>
                        <option>Deploma in public institutions</option>
                    </select>
                </div>
                <br/>

                <!-- /.box -->
                <div class="col-xs-5">
                    <button type="submit" class="btn btn-danger btn-block btn-flat">Submit</button>
                    <br/>
                </div>

            </div>
        </div>
    </div>

</div>