<section class="content-header">
    <h1>
        Transfer
        <small>Transfer Services</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Transfer</a></li>
        <li class="active">All transfer services</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <!-- Left col -->
        <section class="col-md-6 connectedSortable">
            <!-- Own Transfer -->
            @Html.Action("OwnTransfer", "AllTransfer")

        </section>
        <!-- /Left col -->
        
        <!-- Right col -->
        <section class="col-md-6 connectedSortable">
            @Html.Action("BankCustomerTransfer", "AllTransfer")
        </section>
        <!-- /Right col -->
    </div>
    
    <!-- Another Row-->
    <div class="row">
        <section class="col-md-12 connectedSortable">
            @Html.Action("OtherBanksCustomerTransfer", "AllTransfer")
        </section>

    </div>
</section>