<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">To A bank's Customers</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <div class="form-group">
                    <label>Branch</label>
                    <input class="form-control input-lg" type="text" placeholder="Your Branch is...">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label>Account Type</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Savings Account</option>
                        <option>Current Account</option>
                        <option>Investment Account</option>
                    </select>
                </div>
                <!-- /.form-group -->
                
                <div class="form-group">
                    <label>Currency</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">SDG</option>
                        <option>USD</option>
                        <option>SR</option>
                    </select>
                </div>
                <!-- /.form-group -->

                <div class="form-group has-feedback">
                    <label>Enter Amount</label>
                    <input class="form-control input-lg" type="text" placeholder="Amount in SDG">
                    <br>
                </div>
                <!-- /.box -->
                <div class=" form-group col-xs-5">
                    <button type="submit" class="btn btn-danger btn-block btn-flat">Submit</button>
                </div>
                @*<a href="javascript:vosid(0)" class="btn btn-sm btn-danger btn-flat pull-left">Submit</a>*@
            </div>
            <!-- /.col -->
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-footer -->
</div>