<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Own Transfer</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <div class="form-group">
                    <label>From Account Number</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">2405321</option>
                        <option>2405322</option>
                        <option>2405543</option>
                        <option>2405557</option>
                        <option>4534567</option>
                        <option>2405423</option>
                    </select>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label>To Account Number</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">2405322</option>
                        <option>2405322</option>
                        <option>2405543</option>
                        <option>2405557</option>
                        <option>4534567</option>
                        <option>2405423</option>
                    </select>
                </div>
                <!-- /.form-group -->
                <br />
                <div class="form-group has-feedback">
                    <label>Enter Amount</label>
                    <input class="form-control input-lg" type="number" placeholder="Amount in SDG">
                    <br>
                </div>
                <!-- /.box -->
                <br/>
                <br />
                <br />
                
                <div class="col-xs-5">
                    <button type="submit" class="btn btn-danger btn-block btn-flat">Submit</button>
                    <br />
                </div>
                
                @*<a href="javascript:vosid(0)" class="btn btn-sm btn-danger btn-flat pull-left">Submit</a>*@
            </div>
            <!-- /.col -->
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-footer -->
</div>