<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Statement By Transactions</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->

    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <!-- FromDate -->
                <div class="form-group">
                    <label>From Date:</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="datepicker">
                    </div>
                    <!-- /.input group -->
                </div>
                
                <!-- ToDate -->
                <div class="form-group">
                    <label>To Date:</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="Todatepicker">
                    </div>
                    <!-- /.input group -->
                </div>
                <br />
                
                <div class="form-group">
                    <label>Transaction Type </label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">All Transactions</option>
                        <option>Cash</option>
                        <option>Transfer</option>
                        <option>Electronic Trans</option>
                        <option>Clearing</option>
                    </select>
                </div>
                <!-- /.form-group -->
                
                <!-- /.box -->
                <div class="col-xs-5">
                    <button type="submit" class="btn btn-danger btn-block btn-flat">Submit</button>
                    <br />
                </div>

            </div>

        </div>
    </div>
    <!-- /.box-body -->

</div>