<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Debit Card Request</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Account Number</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">2405321</option>
                        <option>2405322</option>
                        <option>2405543</option>
                        <option>2405557</option>
                        <option>4534567</option>
                        <option>2405423</option>
                    </select>
                </div>

                <br />

                <!-- /.box -->
                <div class="col-xs-5">
                    <button type="submit" class="btn btn-danger btn-block btn-flat">Submit</button>
                    <br/>
                </div>
                @*<a href="javascript:vosid(0)" class="btn btn-sm btn-danger btn-flat pull-left">Submit</a>*@
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-footer -->
</div>