<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-InternetBanking_v1-20170810011241.mdf;Initial Catalog=aspnet-InternetBanking_v1-20170810011241;Integrated Security=True;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="UserContext" connectionString="Data Source=orcl;Persist Security Info=True;User ID=ibanking;Password=admin;Unicode=True" providerName="System.Data.OracleClient" />
    <add name="ConnectionString" connectionString="Data Source=orcl1;Persist Security Info=True;User ID=ibanking;Password=admin;Unicode=True" providerName="System.Data.OracleClient" />
    <!--<add name="MyConn" connectionString="Data Source=orcl;Persist Security Info=True;User ID=ibanking;Unicode=True" providerName="System"/>-->
    <!--<add name="KH_IBEntities" connectionString="metadata=res://*/Models.DB.DemoModel.csdl|res://*/Models.DB.DemoModel.ssdl|res://*/Models.DB.DemoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AZ-HP\SQLEXPRESS;initial catalog=KH_IB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="KH_IBEntities1" connectionString="metadata=res://*/Models.DB.Model1.csdl|res://*/Models.DB.Model1.ssdl|res://*/Models.DB.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AZ-HP\SQLEXPRESS;initial catalog=KH_IB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KH_IBEntities2" connectionString="metadata=res://*/Models.DB.DemoModel.csdl|res://*/Models.DB.DemoModel.ssdl|res://*/Models.DB.DemoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=KH_IB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IB_KhaleejBankEntities" connectionString="metadata=res://*/Models.DB.DemoModel.csdl|res://*/Models.DB.DemoModel.ssdl|res://*/Models.DB.DemoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=IB_KhaleejBank;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <add key="LoginUrl" value="~/Login/Login" />
      <!--<add key="CrystalImageCleaner-AutoStart" value="true" />
      <add key="CrystalImageCleaner-Sleep" value="60000" />
      <add key="CrystalImageCleaner-Age" value="120000" />-->
  </appSettings>
  <system.web>
    
    
    <!--<customErrors mode="On">
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>-->
    <customErrors mode="Off" defaultRedirect="~/Error/" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Error/PageNotFound/" />
    </customErrors>
    
    <authentication mode="Forms">
      <forms loginUrl="/Login/Login" timeout="2880" />
    </authentication>
    <roleManager enabled="true" />
    <authorization>
      <!--<deny users ="?"/>-->
      <allow users="*" />
    </authorization>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <!--<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <!--<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <!--<add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
      <!--<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
    </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <!--<authentication mode="Forms">
   <forms loginUrl ="~/Login/Login" timeout="2880"></forms>
 </authentication>-->
    <!--<authorization>
      <allow users ="?"/>
    </authorization>-->
  <httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /></httpHandlers></system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" /></handlers>
  <validation validateIntegratedModeConfiguration="false" /></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.112.1.2" newVersion="4.112.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="Oracle.DataAccess.RdbClient.Entity.RdbConnectionFactory, Oracle.DataAccess.Rdb, Version=7.3.2.1, Culture=neutral, PublicKeyToken=24caf6849861f483">
      <parameters>
        <parameter value="Oracle.DataAccess.RdbClient" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--<provider invariantName="Oracle.DataAccess.RdbClient" type="Oracle.DataAccess.RdbClient.RdbProviderServices, Oracle.DataAccess.Rdb, Version=7.3.2.1, Culture=neutral, PublicKeyToken=24caf6849861f483" />-->
    </providers>
  </entityFramework>
  <system.data>
    <!--<DbProviderFactories>
      <remove invariant="Oracle.DataAccess.RdbClient" />
      <add name="Oracle Rdb Data Provider" invariant="Oracle.DataAccess.RdbClient" description=".NET Framework Data Provider for Oracle Rdb" type="Oracle.DataAccess.RdbClient.RdbFactory, Oracle.DataAccess.Rdb, Version=7.3.2.1, Culture=neutral, PublicKeyToken=24caf6849861f483" />
    </DbProviderFactories>-->
  </system.data>
</configuration>