<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Select Account Number to view Statement</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->

    <div class="box-body">
        <div class="row">
            <div class="col-md-6 col-md-offset-0">
                <div class="form-group">
                    <label>Account Number</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">2405321</option>
                        <option>2405322</option>
                        <option>2405543</option>
                        <option>2405557</option>
                        <option>4534567</option>
                        <option>2405423</option>
                    </select>
                </div>
                <!-- /.form-group -->
                <!-- iCheck -->
                <div class="box-header">
                    <h3 class="box-title">Saving Options</h3>
                </div>
                <div class="box-body">
                    <!-- Minimal style -->
                    <!-- checkbox -->
                    <div class="form-group">

                        <label>
                            <input type="checkbox" class="flat-red">
                            Save As Excel File
                        </label>
                    </div>
                    <!-- radio -->
                    <div class="form-group">
                        <label>
                            <input type="checkbox" class="flat-red">
                            Save As Text File
                        </label>
                    </div>
                    <!-- radio -->
                    <div class="form-group">
                        <label>
                            <input type="checkbox" class="flat-red">
                            View Statement
                        </label>
                    </div>
                    <br />
                    <div class="form-group">
                        <label> Get today's Statement</label><br />
                        <button type="submit" class="btn btn-sm btn-primary btn-flat pull-left">Today</button>
                    </div>
                    <br/>
                </div>
                <!-- /.box-body -->
                @*<div class="box-footer">*@
                    <div class="col-xs-7">
                        <button type="submit" class="btn btn-danger btn-block btn-flat">View Statement</button>
                        <br />
                    </div>
                @*</div>  *@
                <!-- /.box -->
            </div>
        </div>
    </div>
</div>